button,
div,
form,
input {
  margin: 10px;
}

body {
	font-family: 'Exo', sans-serif;
	background-color: #6999E8;
}

#gif-form {
	border: solid 1px white;
	padding: 5%;
}

#gifInput,
label {
	color: white;
	font-weight: bold;
}

#gifDisplay{
	border: solid 1px white;
	color: white;
	font-weight: bold;
}

.gif {
	width: 215px;
	height: 300px;
	/*float: left;*/
}

.gifDiv {
	float: left;
}

#header {
	height: 100%;
	padding-left: 20px;
	margin-top: 0;
	padding-top: 20px;
	background-color: #420CE8;
	color: white;
}

#subHeader {
	color: white;
}

.button {
	background-color: #420CE8;
	color: white;
	border: solid 1px #420CE8;
	padding: 1% 2% 1% 2%;
	font-weight: bold;
}